<!DOCTYPE html>
<html lang="en">
<style>
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>URL SHORTNER SERVICE</h1>
    <form method="post" action="/url">
        <label>ENTER THE ORIGINAL URL</label>
        <input type="text" name="url" placeholder="https://www.example.com" />
        <button type="submit">Generate </button>
    </form>

</body>

</html>